.prompt-wrapper {
    max-width: 900px;
    margin: auto;
    border-radius: 20px;
    padding: 1px;
    background: linear-gradient(180deg, #ffd9b3, #b4f1b4);
}

.prompt-header {
    display: flex;
    justify-content: space-between;
    padding: 0.6rem 1rem;
    font-size: 0.9rem;
    color: #6b7280;
}


.prompt-body {
    background: #fff;
    border-radius: 18px;
    padding: 1rem;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.prompt-body input {
    flex: 1;
    border: none;
    outline: none;
    font-size: 1.2rem;
    color: #374151;
    background-color: transparent;
}

.prompt-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
}

.icons i {
    font-size: 1.2rem;
    margin-right: 14px;
    color: #6b7280;
    cursor: pointer;
}

.send-btn {
    width: 42px;
    height: 42px;
    border-radius: 50%;
    background: #22c55e;
    color: white;
    font-size: 1.2rem;
    border: none;
    cursor: pointer;
}
