.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;

}


.read-the-docs {
  color: #888;
}
.chat-cards {
  display: flex;
  gap: 1rem;
}

.chat-cards > * {
  flex: 1;
  min-height: 200px;
}
.chat-input {
  padding-top: 2rem;
}